@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Licenciamento Veicular</h1>
    <p class="lead">O licenciamento é uma obrigação de todo proprietário de veículo automotor que deseja circular com ele pelas ruas, avenidas, estradas e rodovias públicas do Brasil.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tabela de Licenciamento</h2>
        <p>
            Confira o período de licenciamento do veículo definido pelo Detran do estado de Santa Catarina, 
            conforme o número final da sua placa.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Veja &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Multas de Trânsito</h2>
        <p>As multas de trânsito são imposições de punições em dinheiro, que sofrem os motoristas ou proprietários de veículos que cometeram infrações no trânsito.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Site Detran</h2>
        <p>Clique aqui para ser direcionado ao site do Detran do estado de Santa Catarina.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ir para site &raquo;</a></p>
    </div>
</div>